<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Expense Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <style>
 body {
  background-color: #c0c1c9;
}

h1 {
  color: black;
  margin-left: 40px;
  }

.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 0.6rem 0.8rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
   }

  .page{
  width: 1250px;
  margin: 0 auto;
  background-color:  #f3f3f4;
  text-align:center;
  align="center"
  }
  .block{
  float: left; /*Задаем обтекание*/
  line-height: 20px;/*Высота строки +  верт. центрирования текста*/
  font-size: 10px;
  width: 300px; /*Фиксируем ширину блока*/
  height: 120px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 10px;
  text-align: left; /*Центрируем текст по горизонтали*/
 /*border: 1px solid #e6eef4;*/
  border-radius: 3px;

  span {
  	color: red;
  	font-style: italic;
  }
  select{
  width: 175px;
  }




    </style>
</head>
<body>
<div class="page">
    <h1>Expense tracking system</h1>
    <hr align="center" width="500" size="2" color="#ff0000"/>
    <br>
    <div style="margin:1px; float:right; width:180px">

        <h3><a th:href="@{/logout}" class="btn" style="color:black; background-color:#b19ec3"> Log out </a></h3>
    </div>
    <div style="margin:1px; float:right; width:180px">
        <h3><a th:href="@{/users}" class="btn"> List of employees </a></h3>
    </div>

    <div style="float:left; margin-left:50px; color:darkblue; font-size: 12pt;
    font-weight: 600; " >
        Manager: <b>[[${#request.userPrincipal.principal.fullName}]]</b>
    </div>
    <br> <br>
    <hr>
    <div>
        <h3>Expense list</h3>
    </div>
    <div style="float:left; margin-left:50px; color:darkblue; font-size: 12pt;
    font-weight: 600; ">
        <!--span th:text="${expenseList}"> </span-->insert here employee full name!
    </div>
    <div class="d-block my-3" style="padding: 2%; margin-left: 1px">
        <form th:action="@{/expense_list}" method="post">
            <div class="d-block my-3" style="margin-left:10px">
                <div class="block" style="margin-left:1px">
                    <div style="font-size:12pt; font-weight: 600; margin:1.5% ">Start expense date</div>
                    <input type="date" name="startExpenseDate" id="startExpenseDate" th:value="${startExpenseDate}"
                           style="font-size:12pt; font-weight: 600;"/>
                </div>

                <div class="block">
                    <div style="font-size:12pt; font-weight: 600; margin:1.5%">Finish expense date</div>
                    <input type="date" name="finishExpenseDate" id="finishExpenseDate" th:value="${finishExpenseDate}"
                           style="font-size:12pt; font-weight: 600;"/>
                </div>

                <div class="block">
                    <div style="font-size:12pt; font-weight: 600; margin:1.5%">Select expense type</div>
                    <select name="expenseType" style="font-size:12pt">
                        <option th:value="${null}" th:selected="${type==null}"
                                style="font-size:12pt; font-weight: 600;">---
                        </option>
                        <option th:each="type : ${T(study.example.model.ExpenseType).values()}"
                                th:selected="${type==expenseType}"
                                th:value="${type}"
                                th:text="${type.label}" style="font-size:12pt; font-weight: 600;"></option>
                    </select>
                </div>
                <div align="left" class="d-block my-3" style="height:110px">
                    <input type="submit" name="search" value="Search" class="btn" style="margin-right:15px"/>
                    <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" class="btn"
                           style="margin-right:15px"/>
                    <input type="submit" name="export" value="Export" class="btn"/>
                </div>
            </div>
        </form>
    </div>

    <table border="0" cellpadding="10" class="table table-striped" style="width:100%;align:center;">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:12%">
        <col style="width:10%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:7%">
        <col style="width:27%">

        <thead>
        <tr>
            <th>Expense ID</th>
            <th>Description</th>
            <th>Expense date</th>
            <th>Amount</th>
            <th>Expense type</th>
            <th>Employee email</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense : ${expenseList}">
            <td th:text="${expense.id}">Expense ID</td>
            <td th:text="${expense.description}">Description</td>
            <td th:text="${#temporals.format(expense.expenseDate, 'yyyy-MM-dd')}">Expense date</td>
            <td th:text="${expense.amount}">Amount</td>
            <td th:text="${expense.expenseType.label}">Expense type</td>
            <td th:text="${expense.user?.email}">User email</td>
            <td th:text="${expense.status}">Status</td>
            <td>
                <span th:unless="${expense.photoProof==null}">
                    <a th:href="@{'/downLoadPhotoProof/' + ${expense.id}}" class="btn"
                       style="float:left">Download photo</a>
                </span>
                <span>
                <form method="post" th:action="@{'/showChangeStatusTemplate/' + ${expense.id}}">
                   <span th:if="${expense.status == T(study.example.model.Status).PENDING}">

                       <a th:href="@{'/showChangeStatusTemplate/' + ${expense.id}}" class="btn"
                           style="float:right">Change status</a>
                   </span>
                </form>
                    </span>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
	function clearSearch() {
		window.location = "[[@{/expense_list}]]";
	}




</script>
</body>
</html>