<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Login form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  .page{
  width: 1250px;
  margin: 0 auto;
  background-color:  #f3f3f4;
  text-align:center;
  align="center"
  }
.form{
width: 650px;
  margin: 0 auto;

}


</style>

</head>

<body class="page" >

<div  class="container text-center">
	<div>
        <h1>Expense Tracking System</h1>
    </div>
		<hr align="center" width="650" size="2" color="#ff0000"/>
	<div>
        <h3> User login</h3>
    </div>
	<!--div style="background-color:white;height:50px;"></div-->
	<br/>
	<div class="m-3">
		<div class="form" style="margin-top: 80px, auto; background-color:#fff;padding:20px;border:solid 1px #ddd;">
			<!-- <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" /> -->

			<form th:action="@{/login_perform}" method="POST" class="form-signin">
				<h3 class="form-signin-heading" th:text="Login"></h3>
				<br /> <input type="text" id="email" name="email" th:placeholder="Email" class="form-control" /> <br />
				 <input type="password" th:placeholder="Password" id="password" name="password" class="form-control" /> <br />

				<div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19;">Email or Password is invalid.</p>
				</div>
				<button class="btn btn-lg btn-primary" id="btnLogin" name="Submit" value="Login" type="Submit" th:text="Login" style="margin-right:10px;"></button>
				<!--a href="/recover-password">Forgot password?</a-->
			</form>

		</div>
	</div>
	</div>

</body>
</html>