<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Create New Expense</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script>
    <script type="text/javascript">
   $(function () {
       $('#datetimepicker6').datetimepicker();
       $('#datetimepicker7').datetimepicker({
   useCurrent: false //Important! See issue #1075
   });
       $("#datetimepicker6").on("dp.change", function (e) {
           $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
       });
       $("#datetimepicker7").on("dp.change", function (e) {
           $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
       });
   });

    </script>
    <style>
    span {
    color: red;
    font-style: italic;
    }

    </style>
</head>

<body class="bg-light">
<div align="center" class="container">
    <h1>Create new expense</h1>
    <br><br>
    <form action="#" th:action="@{/save}" th:object="${expense}" style="width:50%" method="post"
          enctype="multipart/form-data">
        <div align="left" class="form-label">
            <label>Expense description</label>
            <br>
            <input type="text" class="form-control" th:field="*{description}"/>
            <small id="passwordHelpBlock" class="form-text text-muted" align="left">
                Your description may be 100 characters long maximum.
            </small>
            <div>
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description err</span>
            </div>
        </div>

        <div align="left" class="d-block my-3">
            <div>Expense date</div>
            <input type="date" th:field="*{expenseDate}"/>
            <div>
                <span th:if="${#fields.hasErrors('expenseDate')}" th:errors="*{expenseDate}">expenseDate err</span>
            </div>
        </div>

        <div align="left" class="d-block my-3">
            <div>Expense amount</div>
            <input type="text" size="18" th:field="*{amount}"/>
            <div>
                <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">amount err</span>
            </div>
        </div>

        <div align="left" class="d-block my-3">
            <div d-block my-3>Select type of expense</div>
            <select name="expenseType" class="d-block my-3">
                <option th:each="type : ${T(study.example.model.ExpenseType).values()}"
                        th:value="${type}" th:text="${type.label}"></option>
            </select>
        </div>

        <div align="left" class="d-block my-3">
            <div d-block my-3>Select file to save photo proof</div>
            <input id="singleFileUploadInput" type="file" name="imageFile" />
            <div>
                <span th:if="${#fields.hasErrors('photoProof')}" th:errors="*{photoProof}">photoProof err</span>
            </div>
        </div>

        <div align="left" class="d-block my-3">
            <button type="submit" class="btn">Save</button>
        </div>
        <div align="left" class="d-block my-3">
            <a th:href="@{'/'}" class="btn">Back to expenses list</a>
        </div>

    </form>
</div>
</body>
</html>