<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>List Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <br>
    <div>
        <form th:action="@{/logout}" method="post">
            <p >
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out"/>
            <br>
        </form>
    </div>
    <br>
    <h3><a th:href="@{/expense_list}" > Expense list </a></h3>
    <br><br>
    <div>
        <h1>Users</h1>
    </div>
    <hr align="center" width="1105" size="2" color="#ff0000"/>
    <br>
    <div>
        <table border="0" cellpadding="10" class="table table-striped" style="width:100%;align:center;">
            <!--thead class="thead-dark"-->
            <thead>
            <tr>
                <th>User ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUsers}">
                <td th:text="${user.id}">User ID</td>
                <td th:text="${user.email}">E-mail</td>
                <td th:text="${user.firstName}">First Name</td>
                <td th:text="${user.lastName}">Last Name</td>
                <td th:text="${user.role}">Role</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>