<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Welcome to Expense list!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" /-->
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h1>Expense tracking system</h1>
    <br><br>
    <h2>Choose option:</h2>
    <br>
    <h3><a th:href="@{/index}">- Access to expense list -</a></h3>
    <br>
    <h3><a th:href="@{/users}">- List of Users -</a></h3>
    <br>
    <h3><a th:href="@{/register}">- Register -</a></h3>
    <br>
    <h3><a th:href="@{/login}">- Please Login -</a></h3>
    <!--a href="new" class="btn" style="width:200px; align:left ">Create new expense</a-->
</div>

</body>
</html>